body{
  min-width: 100%;
  min-height: 100%;
  background-image:url("https://orig10.deviantart.net/5f8e/f/2016/164/5/e/spongebob_background_thing_by_fluffymystic-da62dtt.png");
  background-repeat: no-repeat;
  background-size: cover;
}
html{
  min-width: 100%;
  min-height: 100%;
}
.list-group-item:first-child, list-group-item:last-child {
  border-radius: 0;
}
.list-group-item:first-child {
  border-top: 0;
}
.list-group-item:last-child {
  border-bottom: 0;
}
.list-group-item{
  border-left: 0;
  border-right: 0;
}
.btn:hover{
  cursor: pointer;
}
.card{
  flex: 1 auto;
}
.item {
  flex-wrap: wrap;
  align-items: flex-start;
}